
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.default-body {
    font-family: Arial, sans-serif;
    background-color: #FFC300;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 400px;
    text-align: center;
    padding: 20px;
}

/* Header */
.welcomepageheader h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.welcomepageheader p {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

/* Image */
.image-container {
    position: relative;
    margin: 60px 0;
    /* border: 2px solid red; */
}

.image-container .motorbg {
    position: absolute;
    width: 90%;
    height: auto;
    bottom: 10px;
    /* border: 2px solid green; */

}

.image-container .bike {
    position: relative;;
    width: 90%;
    height: auto;
    border-radius:10px;
    /* border: 2px solid salmon; */

}

.image-container .location {
    position: absolute;
    width: 20%; /* Adjust to fill the container */
    height: 20%;
    left: 5px;
    border-radius: 50px;
    /* border: 2px solid slateblue; */

}


/* Button */
.SignUp-button, .Login-button,.Login-button-desktop, .SignUp-button-desktop {
    background-color: #FFB800;
    color: #000;
    border: none;
    padding: 10px;
    width: 40%;
    margin: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.SignUp-button:hover{
    background-color: #D36C24;
    color: white;
}
.Login-button:hover{
    background-color: #D36C24;
    color: white;
}

.SignUp-button:hover, .Login-button:hover {
    background-color: #FFC300;
}

.start-button-mobile, .start-button-desktop {
    background-color: #FFB800;
    color: #000;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.start-button-desktop:hover{
    background-color: #D36C24;
    color: white;

}
.start-button:hover {
    background-color: #FFC300;
}

.trackicon {
    position: relative;
    width: auto;
    height: auto;
}
.TML{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.TMLogo-container-welcome{
    /* border: 2px solid blue; */
    height: 20%;
    width: 100%;
}




/* Mobile responsiveness */
@media (max-width:325px) {

    .container {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        text-align: center;
        padding: 4px;
    
    }
    .welcomepageheader{
        /* border: 2px solid white; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .TMLogo-container-welcome{
        /* border: 2px solid blue; */
        height: 10%;
        width: 50%;
    }
    .TML{
        /* border: 2px solid red; */
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .welcomepageheader h1 {
        font-size: 0.5rem;
        margin-bottom: 0.5rem;
        /* margin-top: 1rem; */
    }

    .welcomepageheader p {
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }

    .image-container .motorbg {
        padding: 10px;
        bottom: 30px;
    }
    
    .image-container .bike {
        width: 90%;
        height: auto;
    }

    .image-container .location {
        margin-left: 1rem;
    }

    .start-button-mobile, .start-button-desktop {
        padding: 7px;
        position: relative;
        bottom: 60px;
        }

    .SignUp-button, .Login-button{
      bottom: 60px;
      position: relative;
    }
    

    
}
@media (max-width: 500px) {
    .default-body {
        background-color: #1A1B28;
        
    }
    .container {
        background-color: #1A1B28;
    }
    .image-container .motorbg,
    .image-container .bike {
        width: 75%;
    }

    .image-container .location {
        width: 18%;
        left: 10px;
    }

    .start-button {
        padding: 12px;
        font-size: 1.1rem;
    }

    .trackicon{
        display: none;
    }

    .image-container {
        margin: 45px 0;
    }

    .container {
        padding: 15px;
    }

    .welcomepageheader h1 {
        font-size: 1.5rem;
    }

    .welcomepageheader p {
        font-size: 0.9rem;
    }

    .start-button-desktop {
        display: none;
    }

    .Login-button-desktop, .SignUp-button-desktop{
        display: none;
    }
    .welcomepageheader{
        /* border: 2px solid white; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .TMLogo-container-welcome{
        /* border: 2px solid blue; */
        height: 10%;
        width: 50%;
    }
    .TML{
        /* border: 2px solid red; */
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* Desktop responsiveness */
@media (min-width: 501px) and (max-width: 900px) {
    .container {
        position: relative;
        height: 30rem;
        width: 50rem;
        max-height: 50rem;
        max-width: 50rem;
        background-color: #1A1B28;
       
    }

   .desktop-container{
        display: flex;
        flex-direction:row-reverse;
        width: 100%;
        height: 100%;
        padding: 1rem;
        position: absolute;
   }

   .welcomepageheader{
       margin: 80px 20px 0 20px;
       width: 80%;
   }

    .welcomepageheader h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    
    }

    .trackmoto-text{
        color:#FFC300;
        display: inline;
    }

    .welcomepageheader p {
        font-size: 0.9rem;
    }

    .image-container {
        margin: 50px 0 10px 0;
        width: 70%;
    }

    .image-container .motorbg {
        width: 80%;
        margin: 0px 70px 0px 0px;
        bottom: 4rem;
        left: 3rem;
    }
    
    .trackicon{
        display: none;
    }

    .image-container .bike {
        width: 75%;
        left: 1rem;
    }

    .image-container .location {
        width: 25%;
        height: 25%;
        left: 2rem;
        bottom: 21rem;
    }

    .start-button-mobile {
        display: none;
    }

    .start-button-desktop{
        width: 70%;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
    }

    .Login-button, .SignUp-button{
        display: none;
    }
}
    @media (min-width: 901px) and (max-width: 1024px) {
    .container {
        width: 50rem;
        height: 50rem;
        max-width: 50rem;
        max-height: 30rem;
        padding: 1rem;
        background-color: #1A1B28;
        position: relative;
    }

   .desktop-container{
        display: flex;
        flex-direction:row-reverse;
        width: 100%;
        height: 100%;
        padding: 2rem;
        position: absolute;
   }

   .welcomepageheader{
       margin: 20px 20px 0 20px;
       width: 80%;
   }

    .welcomepageheader h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    
    }

    .trackmoto-text{
        color:#FFC300;
        display: inline;
    }

    .welcomepageheader p {
        font-size: 0.9rem;
    }

    .image-container {
        margin: 50px 0 10px 0;
        width: 70%;
    }

    .image-container .motorbg {
        width: 80%;
        position: absolute;
        bottom: 3rem;
    }
    
    .desktop-container .trackicon{
        position: absolute;
        width: 17%;
        bottom: 28rem;
     
    }

    .image-container .bike {
        width:80%;
    }

    .image-container .location {
        width: 25%;
        height: 25%;
        left: 1rem;
        bottom: 20rem;
    }

    .start-button-mobile {
        display: none;
    }

    .start-button-desktop{
        width: 70%;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
    }

    .Login-button, .SignUp-button{
        display: none;
    }

    .Login-button-desktop, .SignUp-button-desktop{
        background-color: #FFC300;
        width: 70%;
        padding: 10px;
        margin: 10px;
        font-size: 1rem;
        border-radius: 100px;
        transition: 0.3s ease;
    }
    .SignUp-button-desktop:hover{
        background-color: #D36C24;
        color: white;
    }
    .Login-button-desktop:hover{
        background-color: #D36C24;
        color: white;
    }

}

@media (min-width: 1025px) and (max-width: 1550px) {
    .container {
        width: 50rem;
        height: 30rem;
        max-width: 50rem;
        max-height:50rem;
        background-color: #1A1B28;
        position: relative;
    }

   .desktop-container{
        position: absolute;
        display: flex;
        flex-direction:row-reverse;
        width: 100%;
        padding: 1rem;
   }

   .welcomepageheader{
       margin: 5px 20px 0 20px;
       width: 80%;
       /* border: 2px solid white; */

   }

    .welcomepageheader h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    
    }

    .trackmoto-text{
        color:#FFC300;
        display: inline;
    }

    .welcomepageheader p {
        font-size: 0.9rem;
    }

    .image-container {
        margin: 50px 0 10px 0;
        width: 70%;
    }

    .image-container .motorbg {
        width: 80%;
    }

    .image-container .bike {
        width:80%;
    }

    .image-container .location {
        width: 25%;
        height: 25%;
        left: 1rem;
        bottom: 18rem;
    }

    .start-button-mobile {
        display: none;
    }

    .start-button-desktop{
        width: 70%;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
    }

    .Login-button, .SignUp-button{
        display: none;
    }

    .Login-button-desktop, .SignUp-button-desktop{
        background-color: #FFC300;
        width: 70%;
        padding: 10px;
        margin: 10px;
        font-size: 1rem;
        border-radius: 100px;
        transition: 0.3s ease;
    }
    .SignUp-button-desktop:hover{
        background-color: #D36C24;
        color: white;
    }
    .Login-button-desktop:hover{
        background-color: #D36C24;
        color: white;
    }

    .trackicon{
        position: absolute;
        width: 20%;
        bottom: 25.5rem;
        left: 44rem;
        /* border: 2px solid blue; */
    }
}

@media (min-width: 1551px) and (max-width: 2560px) {

    .container {
        width: 90rem;
        height: 60rem;
        max-width: 90rem;
        max-height:60rem;
        background-color: #1A1B28;
        position: relative;
    }

   .desktop-container{
        position: absolute;
        display: flex;
        flex-direction:row-reverse;
        width: 100%;
        height: 93%;
        padding: 2rem;
   }

   .welcomepageheader{
       position: relative;
       margin: 80px 20px 0 20px;
       width: 80%;
       top: 5rem;
      
   }

    .welcomepageheader h1 {
        font-size: 3.5rem;
        margin-bottom: 1.8rem;
    
    }

    .trackmoto-text{
        color:#FFC300;
        display: inline;
    }

    .welcomepageheader p {
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
    }

    .image-container {
        margin: 50px 0 10px 0;
        width: 70%;
    }

    .image-container .motorbg {
        width: 90%;
        height: auto;
    
    }

    .image-container .bike {
        width:90%;
        top: 4rem;
    }

    .image-container .location {
        width: 25%;
        height: 25%;
        left: 1rem;
        bottom: 36rem;
    }

    .start-button-mobile {
        display: none;
    }

    .start-button-desktop{
        width: 77%;
        padding: 10px;
        margin: 20px;
        font-size: 2rem;
        top: 10rem;
        position: relative;
    }

    .Login-button, .SignUp-button{
        display: none;
    }

    .Login-button-desktop, .SignUp-button-desktop{
        width: 70%;
        padding: 10px;
        margin: 20px;
        font-size: 2rem;
        border-radius: 100px;
        margin-bottom: 3rem;
        transition: 0.3s ease;
        background-color: #FFC300;
    }
    .SignUp-button-desktop:hover{
        background-color: #D36C24;
        color: white;
    }
    .Login-button-desktop:hover{
        background-color: #D36C24;
        color: white;
    }
    .trackicon{
        position: absolute;
        width: 40%;
        bottom: 54rem;
        left: 37rem;
        
    }
    
}

